<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dexter.configs" type="Mst.Dexter.Configuraton.DxExternalConfigurationSectionHandler, Mst.Dexter" />
  </configSections>
  <system.serviceModel>
    <!-- Servisler <services> bölümünde tanımlanmıştır. Bir assembly
içerisinde bir çok servis barındırılabilir, her servis kendi
yapılandırma bölümü içerisinde <service> olarak tanımlanır.-->
    <services>
      <!-- Bu bölümde Address, Binding ve Contract (ABC) bilgilerini
içeren servis endpoint tanımlanır.
Kullanılan Contract adının Basics.IMyBasicService şeklinde
(fully-qualified name) olarak tanımlandığını unutmamak gerekir.
Adress <host> element'i içerisinde tanımlanırken Contract ve Binding
<endpoint> elemanı altında tanımlanır. -->
      <service name="ErrorLog.Wcf.Library.ErrorLogService" behaviorConfiguration="ErrorLogServiceBehaviors">
        <!-- Endpoint aslında Contract'ın (ABC) sinin tanımlandığı kısımdır.
'address' bileşeni <host> öğesinde belirtilen baseAddress' e göre
tanımlanır. <endpoint> öğresi içerisindeki 'address' bileşeni boş
bırakılırsa endpoint adresi <host> öğesi içerisindeki baseAddress'i
kendi adresi olarak kabul edecektir. -->
        <endpoint address="/ErrorLogService"
        binding="wsHttpBinding"
        contract="ErrorLog.Wcf.Library.IErrorLogService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8081" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ErrorLogServiceBehaviors">
          <!-- Aşağıdaki öğeyi hizmet davranış yapılandırmanıza ekleyin. -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <clear />
    <!-- dbMode:
    1- MongoDb,
    2- RavenDb,
    3- Generic Sql (Yapıldı, test edilecek.),
    4- SqlCE (Yapıldı, test edilecek.) ,
    5- SQLite (Yapıldı, test edilecek.),
    6- VistaDb (Yapıldı, test edilecek.),
    7- LiteDb (Yapıldı, test edilecek.)
    -->
    <add key="dbMode" value="4" />

    <add key="errorLogConnName" value="sqlce" />
    <!--<add key="errorLogConnName" value="sqlce" />-->
    <add key="errorLogConnStringName" value="sqlite" />

    <add key="sqlConnectionName" value="sqlce" />
    <!-- <add key="sqlConnectionName" value="sqlite" /> -->
    <!--<add key="sqlConnectionName" value="sqlce" />-->

    <add key="sqlConnectionStringName" value="sqlce" />
    <!-- <add key="errorLogConnStringName" value="sqlite" /> -->
    <!--<add key="errorLogConnStringName" value="sqlce" />-->
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="errorLogDbConnStr" connectionString="mongodb://127.0.0.1:27017" />
    <add name="sqlce" connectionString="Data Source=..\..\DbFiles\SqlCe\ErrorLogDb_2019_04_25.sdf;Max Database Size=4091" />
    <add name="sqlce2" connectionString="Data Source=C:\Depo\Mst\Git_Projects\ErrorLoggingWebApiProject\ErrorLogMvcWebApi\DbFiles\SqlCe\ErrorLogDb_2019_04_25.sdf;Max Database Size=4091" />
    <!--<add name="sqlite" connectionString="Data Source=..\..\DbFiles\SQLite\errorlogDb.db;Version=3" />-->
    <add name="sqlite" connectionString="Data Source=C:\Depo\Mst\Git_Projects\ErrorLoggingWebApiProject\ErrorLogMvcWebApi\DbFiles\SQLite\errorlogDb.db;Version=3" />

    <add name="sql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ErroLogTestDb;Integrated Security=SSPI;" />
    <add name="mysql" connectionString="data source=127.0.0.1;initial catalog=ErroLogTestDb;user id=root;password=***;" />
    <add name="pqsql" connectionString="server=127.0.0.1;Database=postgres;user id=postgres;password=***;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <dexter.configs writeEventLog="0" writeErrorLog="1">
    <dexter>
      <add name="sqlce" typename="System.Data.SqlServerCe.SqlCeConnection" namespace="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" dialect="SqlCe" />

      <!-- <add name="sqlite"
           typename="System.Data.SQLite.SQLiteConnection"
           namespace="System.Data.SQLite, Version=1.0.92.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"
           dialect="SQLite" /> -->

      <!-- <add name="sqlite"
           typename="System.Data.SQLite.SQLiteConnection"
           namespace="System.Data.SQLite, Version=1.0.110.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"
           dialect="SQLite" /> -->

      <add name="sqlite" typename="Devart.Data.SQLite.SQLiteConnection" namespace="Devart.Data.SQLite, Version=5.11.1278.0, Culture=neutral, PublicKeyToken=09af7300eec23701" dialect="SQLite" />

      <add name="vistadb4" typename="VistaDB.Provider.VistaDBConnection" namespace="VistaDB.4, Version=4.1.0.0, Culture=neutral, PublicKeyToken=ca42a1ee8d2e42d3" dialect="VistaDB" />

      <add name="vistadb5" typename="VistaDB.Provider.VistaDBConnection" namespace="VistaDB.5.NET40, Version=5.0.0.0, Culture=neutral, PublicKeyToken=dfc935afe2125461" dialect="VistaDB" />

      <add name="sql" typename="System.Data.SqlClient.SqlConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="Sql" />

      <add name="oledb" typename="System.Data.OleDb.OleDbConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="OleDb" />

      <add name="odbc" typename="System.Data.Odbc.OdbcConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="Odbc" />

      <add name="mysql" typename="MySql.Data.MySqlClient.MySqlConnection" namespace="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" dialect="MySql" />

      <add name="mysql" typename="MySql.Data.MySqlClient.MySqlConnection" namespace="MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" dialect="MySql" />
    </dexter>
  </dexter.configs>
</configuration>