<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dexter.configs" type="Mst.Dexter.Configuraton.DxExternalConfigurationSectionHandler, Mst.Dexter" />
  </configSections>
  <appSettings>
    <clear />
    <!-- dbMode: 
    1- MongoDb, 
    2- RavenDb, 
    3- Generic Sql(Yapıldı, test edilecek.), 
    4- SQLite(Yapıldı, test edilecek.), 
    5-SqlCE(Yapıldı, test edilecek.) , 
    6-vistadb(ilerde yapılacak.) 
    -->
    <add key="dbMode" value="3" />

    <add key="errorLogConnName" value="sqlite" />
    <!--<add key="errorLogConnName" value="sqlce" />-->
    <add key="errorLogConnStringName" value="sqlite" />

    <add key="sqlConnectionName" value="sqlite" />
    <!-- <add key="sqlConnectionName" value="sqlite" /> -->
    <!--<add key="sqlConnectionName" value="sqlce" />-->

    <add key="sqlConnectionStringName" value="sqlite" />
    <!-- <add key="errorLogConnStringName" value="sqlite" /> -->
    <!--<add key="errorLogConnStringName" value="sqlce" />-->
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="errorLogDbConnStr" connectionString="mongodb://127.0.0.1:27017" />
    <add name="sqlce" connectionString="Data Source=..\..\DbFiles\SqlCe\ErrorLogDb_2019_04_25.sdf;Max Database Size=4091" />
    <add name="sqlce2" connectionString="Data Source=C:\Depo\Mst\Git_Projects\ErrorLoggingWebApiProject\ErrorLogMvcWebApi\DbFiles\SqlCe\ErrorLogDb_2019_04_25.sdf;Max Database Size=4091" />
    <!--<add name="sqlite" connectionString="Data Source=..\..\DbFiles\SQLite\errorlogDb.db;Version=3" />-->
    <add name="sqlite" connectionString="Data Source=C:\Depo\Mst\Git_Projects\ErrorLoggingWebApiProject\ErrorLogMvcWebApi\DbFiles\SQLite\errorlogDb.db;Version=3" />

    <add name="sql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ErroLogTestDb;Integrated Security=SSPI;" />
    <add name="mysql" connectionString="data source=127.0.0.1;initial catalog=ErroLogTestDb;user id=root;password=***;" />
    <add name="pqsql" connectionString="server=127.0.0.1;Database=postgres;user id=postgres;password=***;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Hosting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.2.0" newVersion="4.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dexter.configs writeEventLog="0" writeErrorLog="1">
    <dexter>
      <add name="sqlce" typename="System.Data.SqlServerCe.SqlCeConnection" namespace="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" dialect="SqlCe" />

      <!-- <add name="sqlite"
           typename="System.Data.SQLite.SQLiteConnection"
           namespace="System.Data.SQLite, Version=1.0.92.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"
           dialect="SQLite" /> -->

      <!-- <add name="sqlite"
           typename="System.Data.SQLite.SQLiteConnection"
           namespace="System.Data.SQLite, Version=1.0.110.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"
           dialect="SQLite" /> -->

      <add name="sqlite" typename="Devart.Data.SQLite.SQLiteConnection" namespace="Devart.Data.SQLite, Version=5.11.1278.0, Culture=neutral, PublicKeyToken=09af7300eec23701" dialect="SQLite" />

      <add name="vistadb4" typename="VistaDB.Provider.VistaDBConnection" namespace="VistaDB.4, Version=4.1.0.0, Culture=neutral, PublicKeyToken=ca42a1ee8d2e42d3" dialect="VistaDB" />

      <add name="vistadb5" typename="VistaDB.Provider.VistaDBConnection" namespace="VistaDB.5.NET40, Version=5.0.0.0, Culture=neutral, PublicKeyToken=dfc935afe2125461" dialect="VistaDB" />

      <add name="sql" typename="System.Data.SqlClient.SqlConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="Sql" />

      <add name="oledb" typename="System.Data.OleDb.OleDbConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="OleDb" />

      <add name="odbc" typename="System.Data.Odbc.OdbcConnection" namespace="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" dialect="Odbc" />

      <add name="mysql" typename="MySql.Data.MySqlClient.MySqlConnection" namespace="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" dialect="MySql" />

      <add name="mysql" typename="MySql.Data.MySqlClient.MySqlConnection" namespace="MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" dialect="MySql" />
    </dexter>
  </dexter.configs>
</configuration>