<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IErrorLogService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8081/ErrorLogService" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IErrorLogService" contract="IErrorLogService"
          name="WSHttpBinding_IErrorLogService">
        <identity>
          <userPrincipalName value="DESKTOP-HKOI4QB\Mustafa SAÇLI" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>